name: CMake release build
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Create build dir
      run: cmake -E make_directory ${{ runner.workspace }}/build
    - name: Configure
      shell: bash
      working-directory: ${{ runner.workspace }}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Release
    - name: Build
      working-directory: ${{ runner.workspace }}/build
      run: cmake --build . --config Release
